# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?*.DS_Store  
node_modules 
*.log 
idea/ 
*.local 
.DS_Store 
dist 
.cache 
.idea 
logs 
*-debug.log 
*-error.log 
*__pycache__/
